<mat-card>
  <p>{{ comment.body }}</p>
  <small>{{ comment.email }}</small>
  <nav>
    <button mat-icon-button color="primary" (click)="vote(true, comment)">
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="vote(false, comment)">
      <mat-icon>thumb_down</mat-icon>
    </button>
  </nav>

</mat-card>
