<h1>Posts list</h1>

<ng-container *ngIf="posts">
  <app-post *ngFor="let post of posts" [post]="post"></app-post>
  <button *ngIf="inProgress === 0"
          (click)="loadMorePosts()"
          mat-raised-button color="accent"
          class="load-more">Load more posts</button>
  <mat-spinner *ngIf="inProgress !== 0"></mat-spinner>
</ng-container>


