<mat-card>
  <mat-card-header>
    <mat-card-title>{{ post.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ post.body }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="goToPost(post.id)" mat-raised-button color="primary">Read more</button>
  </mat-card-actions>
</mat-card>
