<mat-card>
  <mat-card-header>
    <mat-card-title>{{ post?.title }}</mat-card-title>
  </mat-card-header>

  <h2>Comments</h2>
  <mat-card-content>
    <app-comment *ngFor="let comment of comments" [comment]="comment"></app-comment>
  </mat-card-content>
  <button *ngIf="!loadMoreButtonHidden" mat-raised-button color="accent" (click)="loadMoreComments()">Load more comments</button>

</mat-card>
<button mat-raised-button color="primary" class="back" (click)="back()">Back</button>
